@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: bold;
}
body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
/*navbar section*/
.header {
    background-color: #fff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .nav-link {
    color: #000;
    text-decoration: none;
    transition: all 0.4s;
  }
  .nav-link:hover {
    color: #0007;
  }
  
  .logo {
    font-size: 35px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  .icon {
    width: 25px;
    color: #fff;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
  }

  /*form*/
  .form {
    padding-top: 5.5rem;
}
.box {
  background-color:#f7ebed;
  margin: 0 4rem;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-title {
    padding-top: 5px;
    font-size: 2.9rem;
    font-weight: 100;
    text-align: center;
    color: #000;
}
.contact-text {
  padding: 20px 20px 40px 20px;
  text-align: justify;
  max-width: 800px;
}
.form-items {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 25px;
    transition: 0.3s;
    min-width: 200px;
    max-width: 800px;
}

.form-items input, textarea {
    width: 100%;
    margin-bottom: 18px;
    padding: 12px;
    border: none;
    outline: none;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}
textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
    max-height: 200px;
}
.form-items label {
    text-align: end;
    line-height: 2;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}
.button {
    background-color: #000;
    cursor: pointer;
    color: #fff !important;
    border: none !important;
    border-radius: 5px;
}
.button:hover {
    background-color: #0009;
}

  /*footer section*/
  #footer {
    margin: 5rem 7rem 0 7rem;
    padding: 60px 20px 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
  }
  .footer-box {
    display: flex;
    margin: 0 10rem;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-items h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .footer-items a {
    text-decoration: none;
    color: #000;
  }
  .footer-items a:hover {
    text-decoration: underline;
  }
  .logo-footer .logo {
    padding: 10px;
    font-size: 50px;
    text-align: center;
  }
  .logo-footer {
    padding: 20px;
  }
  .logo-footer p {
    text-align: center;
  }
  .logo-text a {
    text-decoration: none;
    color: #000;
  }
  .logo-text a:hover {
    text-decoration: underline;
  }



  @media (max-width:768px) {
    .header {
        height: 60px;
      }
    
      .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
      }
    
      .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #f7ebed;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
    
        height: calc(100% - 60px);
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
      }
    
      .nav-menu-item {
        line-height: 70px;
      }
    
      .nav-toggle {
        display: block;
      }
    
      .nav-menu_visible {
        left: 0;
      }
    
      .nav-toggle:focus:not(:focus-visible) {
        outline: none;
      }
      /*form*/
      .box {
        margin: 0 20px;
      }
      .form {
        padding-top: 4.5rem;
      }

      .contact-title {
        font-size: 1.7rem;
        text-align: center;
      }
      .contact-text {
      font-size: 15px;
      font-weight: 100;
     }
     /*footer section*/
     #footer {
      margin: 5rem 1rem 0 1rem;
      flex-wrap: wrap;
      padding: 30px 20px 20px 20px;
    }
    .footer-items h2 {
      font-size: 17px;
    }
    .footer-items {
      gap: 14px;
    }
    .footer-items a {
      font-size: 14px;
    }
    .logo-footer .logo {
      padding: 0 10px 5px 10px;
      font-size: 40px;
    }
    .logo-footer .logo-text {
      padding: 0 10px 20px 10px;
    }
    .logo-footer p {
      font-size: 15px;
    }

  }
  @media only screen and (min-width:768px) and (max-width:1200px){
    .box {
      padding: 2.7rem;
    }
        /*footer section*/
        #footer {
          margin: 5rem 30px 0 30px;
          flex-wrap: wrap;
          padding: 40px 20px 40px 20px;
        }
        .footer-items h2 {
          font-size: 25px;
        }
        .footer-items {
          gap: 14px;
        }
        .footer-items a {
          font-size: 18px;
        }
        .logo-footer .logo {
          padding: 0 10px 5px 10px;
          font-size: 45px;
        }
        .logo-footer .logo-text {
          padding: 5px 10px 20px 10px;
        }
        .logo-footer p {
          font-size: 17px;
        }
  }