/* google fonts */
@font-face {
  font-family: "acorn";
  src: url(../fonts/acorn-8.woff);
  font-weight: 900;
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 100;
}
* {
  scroll-behavior: smooth;
}
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
body {
  font-family: "roboto";
  font-weight: 400;
  line-height: 1.1;
  color: #000;
  background-image: linear-gradient(
    110deg,
    hsl(355deg 48% 85%) 0%,
    hsl(345deg 49% 85%) 6%,
    hsl(337deg 51% 86%) 15%,
    hsl(326deg 52% 87%) 27%,
    hsl(316deg 52% 88%) 43%,
    hsl(309deg 56% 88%) 59%,
    hsl(298deg 56% 89%) 72%,
    hsl(290deg 58% 90%) 81%,
    hsl(281deg 58% 91%) 88%,
    hsl(271deg 60% 91%) 93%,
    hsl(262deg 61% 92%) 96%,
    hsl(253deg 63% 93%) 99%,
    hsl(243deg 65% 93%) 100%
  );
  padding: 10rem 1rem 0 1rem;
}

/*header sectin (navbar)*/

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fef3f3;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.nav-link {
  color: #0083c4;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: bold;
  font-size: 20px;
  font-family: "roboto";
  transition: 0.1s;
}
.nav-link:hover {
  border-bottom: 2px solid #0083c4;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  font-family: "acorn";
}
.logo:hover {
  border: none;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
  gap: 20px;
}
.icon {
  width: 25px;
  color: #fff;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: capitalize;
  width: max-content;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
/*home section*/

/*text edit*/
.home-head {
  padding: 2px 10px;
}
h1,
.home-head h2 {
  text-align: center;
  font-size: 80px;
  line-height: 88px;
  color: #0083c4;
  font-family: "acorn";
}
.home-head p {
  text-align: center;
  color: #0083c4;
  font-size: 24px;
  line-height: 24px;
  font-family: "acorn";
}
a {
  text-decoration: none;
  color: #000;
  font-family: "acorn";
}
.title-home {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 0.5rem;
  font-family: "acorn";
  color: #000;
}
.text-home {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 0.5rem;
  text-align: justify;
}
.separator .projects-title {
  text-align: center;
  padding: 2rem;
  font-size: 80px;
  line-height: 88px;
}

.bento-grid-container-home {
  display: grid;
  grid-template-columns: 1fr 2fr 2.5fr;
  grid-template-rows: 24rem 24rem;
  grid-template-areas:
    "box1 box1 box1"
    "box2 box2 box3";
  max-width: 70rem;
  margin-inline: auto;
  gap: 2.5rem;
  padding: 1rem 0 10rem 0;
}

.home-grid-item {
  backdrop-filter: blur(23px) saturate(200%);
  -webkit-backdrop-filter: blur(23px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.79);
  border-radius: 40px;
  padding: 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.home-grid-item:hover {
  transform: scale(1.02);
  background-color: #fffc;
}

.item1 {
  grid-area: box1;
}
.item2 {
  grid-area: box2;
}
.item3 {
  grid-area: box3;
}
/*home ui components*/
.home-content1 {
  position: relative;
  overflow: hidden;
  .btn {
    position: relative;
    top: 10px;
    border: none;
    padding: 8px 30px;
    border-radius: 50px;
    cursor: pointer;
    background-image: linear-gradient(
      to right in oklab,
      rgb(226, 204, 255) 0px,
      rgb(181, 192, 255) 100%
    );
  }
}
.home-content1 img {
  position: relative;
  left: 16.5rem;
  padding-top: 10px;
  max-width: 80%;
}

.home-content2 {
  position: relative;
  overflow: hidden;
  background-color: #d6abff;
}
.home-content2:hover {
  background-color: #c090ff;
}
.home-content2 img {
  position: relative;
  max-width: 100%;
  top: 0;
  right: -5rem;
}
.home-content3 {
  overflow: hidden;
  position: relative;
  background-color: #ffc6c7;
}
.home-content3:hover {
  background-color: #ffb0b1;
}
.home-content3 img {
  padding-top: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
}

/*helper classes*/
.grid {
  display: grid;
  gap: 1rem;
}

/* text styles */
h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 0.9;
  font-family: "acorn";
  color: #0083c4;
}

/* layout styles*/
.bento-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 13rem 13rem 13rem;
  grid-template-areas:
    "column1 column2 column3"
    "column1 column2 column3"
    "column1 column4 column4";
  max-width: 60rem;
  margin-inline: auto;
  gap: 1rem;
}

.bento-grid-item--element {
  border-radius: 0.5rem;
  padding: 1rem;
}
.bento-grid-container > *,
.inside-element {
  display: grid;
  gap: 1rem;
}

.inside-element {
  grid-template-columns: 1fr 1fr;
}
.inside-element:nth-child(1) {
  grid-template-columns: 0.95fr 2fr;
}

.column-one {
  grid-area: column1;
}
.column-two {
  grid-area: column2;
}
.column-three {
  grid-area: column3;
}
.column-four {
  grid-area: column4;
}

/* ui components */
.background {
  backdrop-filter: blur(25px) saturate(149%);
  -webkit-backdrop-filter: blur(25px) saturate(149%);
  background-color: rgba(255, 255, 255, 0.64);
}
.pixelap {
  padding: 2rem;
  overflow: hidden;
  background-color: #d0d8f4;
  h2 {
    font-size: 35px;
    color: #000;
  }
}
.pixelap img {
  position: relative;
  max-width: 300px;
  left: -25px;
  filter: drop-shadow(1px 5px 3px #000);
}
.weather {
  position: relative;
  padding: 1.5rem;
  overflow: hidden;
  background-color: #ffd7d7;
  h2 {
    color: #000;
  }
}
.weather img {
  width: 140px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(5px 5px 7px #000);
}
.media {
  color: white;
  text-align: center;
  place-content: center;
}

.manage {
  overflow: hidden;
}

.posting {
  overflow: hidden;
}

.schedule {
  overflow: hidden;
  place-content: center;
  padding-left: 1.5rem;
}
.audience {
  place-content: center;
}
.followers {
  padding: 0;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

/*footer section*/
#footer {
  padding: 10rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
#footer h3 {
  text-align: center;
  font-family: "acorn";
  color: #0083c4;
  font-size: 18px;
  padding-bottom: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}
.footer-container .footer-items {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer-items .footer-title {
  font-size: 16px;
  font-family: "acorn";
  color: #0083c4;
}
.footer-items .footer-links {
  text-decoration: none;
  font-weight: 100;
  color: #000;
  font-family: "roboto";
}
.footer-items .footer-links:hover {
  text-decoration: underline;
}
/* media query */
@media screen and (max-width: 910px) {
  /*home section*/
  .bento-grid-container-home {
    grid-template-columns: 1fr;
    grid-template-rows: 24rem 24rem 24rem;
    grid-template-areas:
      "box1 box1"
      "box2 box2"
      "box3 box3";
  }
  .home-content2 img {
    max-width: 100%;
    top: 0;
    right: -13rem;
  }

  /*projects section*/
  .bento-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 13rem 13rem 13rem;
    grid-template-areas:
      "column2 column3"
      "column2 column3"
      "column4 column4"
      "column1 column1";
    padding-bottom: 10rem;
  }
  .column-one {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  /*navbar section*/
  body {
    padding: 5.5rem 1rem 0 1rem;
  }
  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #fef3f3;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav-link:hover {
    border: none;
  }
  .nav-menu-item {
    line-height: 60px;
    align-self: flex-start;
    padding-left: 40px;
    width: 80%;
    margin: 10px;
    text-align: start;
    border-radius: 12px;
  }
  .nav-menu-item:hover {
    background-color: #fff9;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 15%;
    border-radius: 12px;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  /*home section*/
  .bento-grid-container-home {
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 20rem 20rem;
    grid-template-areas:
      "box1"
      "box2"
      "box3";
    gap: 2rem;
  }
  .home-grid-item {
    border-radius: 0.5rem;
  }
  .home-content1 img {
    padding-top: 2rem;
    left: 2rem;
    top: 0;
  }
  .home-content2 img {
    top: 0;
    right: -4rem;
  }

  /*text edit*/
  .title-home {
    font-size: 23px;
  }
  .text-home {
    font-size: 15px;
    font-weight: 100;
  }

  h1,
  .home-head h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .separator .projects-title {
    font-size: 48px;
    line-height: 50px;
  }
  .home-head p {
    font-size: 18px;
    line-height: 28px;
  }

  /*bento grid section*/
  .bento-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    grid-template-areas:
      "column1"
      "column2"
      "column3"
      "column4";
    padding-bottom: 0;
  }
  .weather h2 {
    height: 300px;
  }
  .soon {
    display: none;
  }
  .bento-grid-container > *,
  .inside-element {
    gap: 2rem;
  }

  .column-one {
    grid-template-columns: 1fr 1fr;
  }
  .inside-element,
  .inside-element:nth-child(1),
  .column-one {
    grid-template-columns: 1fr;
  }

  .pixelap {
    h2 {
      font-size: 30px;
    }
  }
  .pixelap img {
    max-width: 350px;
    left: -20px;
    top: 20px;
  }
  .weather img {
    width: 220px;
    top: 70px;
  }

  /* footer section */
  #footer {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  #footer h4 {
    font-size: 16px;
    padding-bottom: 3px;
  }
  .footer-container {
    gap: 10rem;
  }
}
