@font-face {
    font-family: "acorn";
    src: url(/assets/fonts/acorn-8.woff);
    font-weight: bold;
    font-style: bold;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-image:linear-gradient(to right bottom, rgb(255, 198, 199), rgb(188, 198, 237))
}
.grid-container > *{
    text-align: center;
}
.nav-container{
    display: flex;
    justify-content: center;
    z-index: 200;
}
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 10px 10px;
    background-color: #fff9;
    border-radius: 50px;
    position: fixed;
    padding: 10px 5px;
    
}
.nav-items .nav-links {
    text-decoration: none;
    padding: 4px 13px;
    border-radius: 50px;
    color: #0083c4;
    font-weight: 900;
    transition: 0.3s;
    text-align: center;
}
.nav-items .nav-links:hover {
    background-color: #fff;
    color: rgb(81, 81, 252);
}
/*home-container*/
.home-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 40px;
    background-color: #fff9;
    border: 2px solid #6666;
    margin: 20px;
    padding: 20px;
}
.home-items .pic-home {
    width: 210px;
    border: 2px solid #6668;
    border-radius: 100%;
}
.home-items h1 {
    font-size: 2.3rem;
    font-family: "acorn", sans-serif;
    color: #0083c4;
    padding-bottom: 10px;
}
.home-items .title {
    font-size: 30px;
    font-weight: 600;
}
.home-items p{
    font-size: 17px;
    font-weight: 600;
}
/*buttons*/
.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-container .btn {
    border: none;
    padding: 9px 13px;
    border-radius: 30px;
    background-image:linear-gradient(to right in oklab, rgb(226, 204, 255) 0px, rgb(181, 192, 255) 100%);
    transition: 0.3s;
    font-weight: 600;
    cursor: pointer;
}
.btn-container .btn:hover {
    transform: scale(1.05);
}
/*social-container*/
.social-home {
    margin: 15px;
}
.social-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px;
}
.social-container .icon, .icon {
    width: 30px;
    height: 30px;
    transition: 0.3s;
    margin-top: 10px;
}
.icon:hover {
    transform: scale(1.06);
}

/*about section*/
.about {
    padding: 8rem 0;
}
.about .title-about, .title-about {
    font-size: 2.7rem;
    font-family: "acorn";
    color: #0083c4;
    padding: 40px 20px;
}
.section-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}
.section__pic-container .about-pic {
    width: 200px;
    height: 200px;
}
.about-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.about-containers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 100%;
}
.details-container {
    background-color: #fff9;
    border-radius: 40px;
    width: 100%;
    border: 2px solid #6666;
    transition: all ease 0.4s;
    cursor: pointer;
}
.details-container:hover {
    transform: scale(1.04);
}
.details-container .about-text {
    padding: 10px 30px 20px 30px;
    text-align: center;
}
.text-container p {
    text-align: justify;
    color: #0083c4;
}
/*skills section*/
.skills {
    margin: 20px;
}
.experience-sub-title {
    color: #0083c4;
    font-family: "acorn";
    font-weight: bold;
    font-size: 1.34rem;
    margin: 1rem 1rem 2rem 1rem
  }
  
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    padding: 10px 15px;
  }
  
  article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  
  article .icon {
    cursor: default;
  }
  .details-container {
    padding: 20px 5px;
  }
  /*projects section*/
  .projects {
    position: relative;
    margin: 0 5%;
  }
  .big-box .project-title, .project-title {
    font-size: 2rem;
    color: #0083c4;
    font-family: "acorn";
  }
    .container-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .projects-container {
        background-color: #fff9;
        border: 2px solid #6666;
        border-radius: 40px;
        min-width: 300px;
        height: auto;
        flex: 1;
        transition: all ease 0.4s;
        padding: 15px 5px;
    }
    .projects-container:hover {
        transform: scale(1.03);
    }
    .container-img img{
        width: 80%;
        height: 80%;
        border-radius: 20px;
    }
    .project-subtitle {
        font-size: 2rem;
        font-family: "acorn";
        color: #0083c4;
        padding: 10px 0;
    }
    .btn2-container {
        display: flex;
        justify-content: center;
        padding: 0 0 20px 0;
    }
    .btn2 {
        border: none;
        background-image:linear-gradient(to right in oklab, rgb(226, 204, 255) 0px, rgb(181, 192, 255) 100%);
        padding: 10px 30px;
        border-radius: 50px;
        font-weight: 600;
        cursor: pointer;
    }


    /*form section*/
    .form {
        padding-top: 60px;
    }
    .form-container {
        display: flex;
        justify-content: center;
        text-align: left;
        margin: 20px;
    }
    .form-items {
        background-color: #fff9;
        border: 2px solid #6666;
        padding: 55px 25px;
        border-radius: 20px;
    }
    .form-items input, textarea {
        width: 100%;
        margin-bottom: 16px;
        padding: 8px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    textarea {
        min-width: 100%;
        resize: none;
        min-height: 100px;
        max-height: 200px;
    }
    .form-items label {
        text-align: end;
        line-height: 2;
    }
    .button {
        background-image:linear-gradient(to right in oklab, rgb(226, 204, 255) 0px, rgb(181, 192, 255) 100%);
        cursor: pointer;
    }
    .icono-form {
        display: flex;
        justify-content: center;
    }
    .icono-form img {
        width: 140px;
        height: 140px;
    }

.grid-container {
    display: grid;
    grid-template:
    "header" 100px
    "main" auto
    "about" auto
    "skills" auto
    "projects" auto
    "form" auto
    "footer" 100px;
    .header {
        grid-area: header;
    }
    .main {
        grid-area: main;
    }
    .about {
        grid-area: about;
    }
    .skills {
        grid-area: skills;
    }
    .projects {
        grid-area: projects;
    }
    .form {
        grid-area: form;
    }
    .footer {
        grid-area: footer;
        background-color: azure;
    }
    /*for phones like iphone 5*/
    @media (min-width: 300px){
        .nav-links {
            padding: 5px 12px;
            font-size: 13px;
        }
    }

    /*for tablets*/
    @media (min-width: 680px){
        .nav-items {
            padding: 13px 10px;
            gap: 10px;
            margin: 15px;
        }
        .home-container {
            margin: 0 10%;
        }
        .nav-links {
            padding: 5px 30px;
        }
        .home-container img {
            width: 250px;
            height: 250px;
        }
        .home-items h1 {
            font-size: 3.3rem;
        }
        .home-items .title {
            font-size: 40px;
        }
        .home-items p{
            font-size: 27px;
        }
        .btn-container .btn {
            padding: 11px 25px;
            font-size: 14px;
            font-weight: 600;
        }
        /*social container*/
        .social-container .icon {
            width: 33px;
            height: 33px;
        }
        /*about container*/
        .section__pic-container .about-pic {
            width: 300px;
            height: 300px;
        }
        .about .title-about, .title-about {
            font-size: 3.9rem;
        }
        .about-containers {
            flex-direction: row;
        }
        .about {
            margin: 5%;
        }
        /*project section*/
        .projects {
            margin: 5%;
        }

        /*form section*/
        .form-container {
            margin: 0 10%;
        }
        .project-title {
            font-size: 3rem;
        }
        
        

    }
    /*for desktop*/

    @media (min-width: 1200px) {
        .home-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background:none;
            border: none;
            margin: 5% 0;
        }
        .home-items {
            margin: 4rem;
        }
        .home-items img {
            width: 400px;
            height: 400px;
        }
        .home-items h1 {
            font-size: 4.5rem;
        }
        .home-items .title {
            font-size: 3.3rem;
        }
        .home-items p{
            font-size: 1.8rem;
        }
        .social-home {
            padding: 1.2rem;
        }
        /*about section*/
        .section__pic-container {
            width: 400px;
            height: 400px;
        }
        .section__pic-container .about-pic{
            width: 350px;
            height: 350px;
        }
        .section-container {
            flex-direction: row;
        }
        .about {
            margin: 8%;
        }
        /*skills section*/
        .skills {
            margin: 10%  10%;
        }
        /*project-section*/
        .projects {
            padding-top: 140px;
        }
        .projects {
            margin: 0 10%;
        }
        .project-title {
            font-size: 4rem;
        }
        /*contact section*/
        .form {
            padding-top: 280px ;
        }
        .form-items {
            padding: 50px;
        }
    }
}
