@font-face {
  font-family: "acorn";
  src: url(./assets/fonts/acorn-8.woff);
  font-weight: 900;
}
@font-face {
  font-family: "roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-weight: 100;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #ffeeee;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff9;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    110deg,
    hsl(355deg 48% 85%) 0%,
    hsl(345deg 49% 85%) 6%,
    hsl(337deg 51% 86%) 15%,
    hsl(326deg 52% 87%) 27%,
    hsl(316deg 52% 88%) 43%,
    hsl(309deg 56% 88%) 59%,
    hsl(298deg 56% 89%) 72%,
    hsl(290deg 58% 90%) 81%,
    hsl(281deg 58% 91%) 88%,
    hsl(271deg 60% 91%) 93%,
    hsl(262deg 61% 92%) 96%,
    hsl(253deg 63% 93%) 99%,
    hsl(243deg 65% 93%) 100%
  );
  font-family: "roboto";
}
